@model List<SiteASPCOm.Models.Domain.Product>

@{
    ViewData["Title"] = "View All Products";
}

<h1>View All Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Price</th>
            <th>Platform</th>
            <th>Expire Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Link</td>
                <td>@product.Price</td>
                <td>@product.Platform</td>
                <td>
                    <a asp-action="View" asp-route-id="@product.Id" class="btn btn-info">View</a>
                    <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
